body{
    margin: 50px 300px ;
    text-align: center;
    color:black
}
/* #region nav */
header{
    margin-bottom: 60px;
}
h2{
    font-family: 'Dancing Script', cursive;
}
.logo
{
    display:grid;
    grid-template-areas: 
    "photoLogo titleLogo "
    "photoLogo quotLogo"
    ;
    width:25%;
}
.logo img{
    grid-area:photoLogo;
}
.logo h2{
    grid-area:titleLogo
}
.logo cite{
grid-area: quotLogo;
}
nav ul li{
    padding: 9px;
}
.dashed
{
    margin-top: 25px;
    border-top: 8px dashed #bbb;
}
/* #endregion nav */
.mainsec{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.mainsec .mainsec-subcontent{
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom:25px;
}
.mainsec .titl{
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    /* font-family: 'Noto Sans TC', sans-serif; */
}
.mainsec .mainsec-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainsec .cite{
    opacity:0.8;
}
.mainsec .icone{
   opacity:0.8;
}
.mainsec img{
    margin-bottom: 20px;
}
.mainsec p{
font-size:20px;
margin-bottom:20px;
font-family: 'Anton', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Noto Sans TC', sans-serif;
opacity:0.6;
text-align: left;
line-height: 1.5;
font-size:20px;
}
.div-list{
    padding:40px;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 30px;
    display: grid;
    grid-template-columns:auto auto;
    color:black;
}
.div-list .part1{
margin-right: 20px;
}
.div-list .part1 div{
    margin-bottom: 20px;
}
.div-list .part2 div{
    margin-bottom: 20px;
}
 div button{
 height: 40px
}
footer{
    margin-top: 40px
}
footer div hr{
    border: 0.5px solid white;
    width: 40%;
}
.Van .van-div{
 
}
.Van div{
  display: grid;
  grid-template-areas: 
  "vanimg vanh2"
  "vanimg vanp"
  ;
}
.Van div img{
    grid-area: vanimg;
}
.Van div h2{
    grid-area: vanh2;
    margin-bottom: 20px;
}
.Van div p{
    grid-area: vanp;
}
cite{
    opacity: 0.7;
}